h1 a {
    color: #39ABF7;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
    background: white url("images/UKGIF.gif") no-repeat right;
    background-size: 200px 900px;
}

.page-header {
    background-color: #0E1C4A;
    margin-top: 50px;
    padding: 5px 20px 20px 20px;
    margin-left: 5px;
    margin-right: 200px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #FFFFFF;
    font-size: 40pt;
    text-decoration: none;
    text-align: left;
    margin-left: 35px;
}

.content {
    margin-left: 2px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    float: right;
    font-size: 26pt;
    margin-right: 30px;
}

.post {
    margin-bottom: 70px;
    margin-top: 50px;
    margin-left: 30px;
}

.post h1 a, .post h1 a:visited {
    color: #0E1C4A;
}

#top, #bottom, #left, #right {
background: #0E1C4A;
position: fixed;
}
#left, #right {
top: 0; bottom: 0; left: 0;
width: 30px;
}
#left { left: 0; }
#right { right: 0; }
	
#left { left: 0; }
#right { right: 0; }

#top, #bottom {
#left: 0; right: 0;
#height: 0px;
#}

#top, #bottom {
left: 0; right: 0; bottom: 0;
height: 0px;
}
#top { top: 0; }
#bottom { bottom: 0; }
#right { right: 0; }